<div class="nav-bar-container">
  <a href="/index"> <div class="site-title">Urban Passport Log</div></a>
  <div class="login-block-container">
    <div class="sign-up">
      <button>Sign Up</button>
    </div>
    <div class="log-in">
      <button>log in</button>
    </div>
    <div class="log-out" id="1234">
      <button>log out</button>
    </div>
  </div>
</div>
<script>
  $("#1234").on("click", (passOnData) => {
    console.log(passOnData);
  });
</script>
