<div class="nav-bar-container">
  <div class="site-title">Urban Passport Log</div>
  <div class="login-block-container">
    <div class="new-entry">
      <a href="/index/new">+</a>
    </div>
    <div class="sign-up">
      <button>Sign Up</button>
    </div>
    <div class="log-in">
      <button>log in</button>
    </div>
    <div class="log-out">
      <button>log out</button>
    </div>
  </div>
</div>
