<div class="nav-bar-container">
  <a href="/index"> <div class="site-title">Urban Passport Log</div></a>
  <div class="login-block-container">
    <div class="user-name-on-nav">
      <div class="hello-user">
        Hi,&nbsp;
        <div id="user-name"><%= creator %></div>
        !
      </div>
    </div>
    <div class="sign-up">
      <a href="/user/signup">Sign-Up</a>
    </div>
    <div class="log-in">
      <a href="/user/login">Login</a>
    </div>
    <div class="log-out">
      <a href="/user/logout">Logout</a>
    </div>
  </div>
</div>
