<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="search-container">
      <input type="text" placeholder="search" />
    </div>
    <div class="search-results-container">
      <div class="search-result">
        <div class="city-photo">
          <img src="https://d13k13wj6adfdf.cloudfront.net/urban_areas/dallas-a55f677457.jpg" />
        </div>
        <div class="city-full-name">Dallas</div>
      </div>
      <div class="search-result">
        <div class="city-photo">
          <img src="https://d13k13wj6adfdf.cloudfront.net/urban_areas/dallas-a55f677457.jpg" />
        </div>
        <div class="city-full-name">Dallas</div>
      </div>
      <div class="search-result">
        <div class="city-photo">
          <img src="https://d13k13wj6adfdf.cloudfront.net/urban_areas/dallas-a55f677457.jpg" />
        </div>
        <div class="city-full-name">Dallas</div>
      </div>
      <div class="search-result">
        <div class="city-photo">
          <img src="https://d13k13wj6adfdf.cloudfront.net/urban_areas/dallas-a55f677457.jpg" />
        </div>
        <div class="city-full-name">Dallas</div>
      </div>
    </div>
  </body>
</html>
