<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="city-details-container">
      <%= locationDetails.city %><br />
      <%= locationDetails.country%>
    </div>
  </body>
</html>
