<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing Search Function with Teleport</title>
  </head>
  <body>
    <div class="search-container">
      <input type="text" class="search" placeholder="Search" id="user-text" />
      <input type="button" value="search" id="search-button" onclick="fetchCitySearchResults()" />
    </div>
    <ul class="search-results"></ul>
  </body>
  <script>
    const baseUrl = "https://api.teleport.org/api/";
    const citySearchString = "cities/?search=";
    let searchByNameUrl = `${baseUrl}${citySearchString}`;
    let $searchResultsDiv = $(".search-results");

    function makeUrl() {
      let searchString = document.querySelector("#user-text").value;
      return searchByNameUrl + searchString + "&limit=5";
    }

    async function fetchCitySearchResults() {
      $searchResultsDiv.empty();
      let url = makeUrl();
      const response = await fetch(url);
      const data = await response.json();
      const searchResults = await data._embedded["city:search-results"];
      console.log(searchResults);
      for (i = 0; i < searchResults.length; i++) {
        renderSearchResults(searchResults);
      }
    }

    let searchField = document.getElementById("user-text");
    searchField.addEventListener("keydown", function (event) {
      if (event.code === "Enter") {
        fetchCitySearchResults();
      }
    });

    function renderSearchResults(searchResults) {
      let cityName = searchResults[i].matching_full_name;
      let cityUrl = searchResults[i]._links["city:item"].href;
      let urlString = cityUrl.match(/geonameid:(\d+)/);
      let cityIdNumber = urlString ? urlString[1] : null;

      $searchResultsDiv.append(`
      <li class="city-result-container" id="${cityIdNumber}">
        <div class="${cityName}">
          <a href="${cityUrl}">${cityName}</a>
        </div>
      </li>
      `);

      getSearchResultCityDetails(cityUrl, cityIdNumber);
    }

    async function getSearchResultCityDetails(url, cityIdNumber) {
      let urlString = url.match(/geonameid:(\d+)/);
      const response = await fetch(url);
      const detailsData = await response.json();
      $cityIdNumberDiv = $(`#${cityIdNumber}`);
      $cityIdNumberDiv.append(`population: ${detailsData.population}`);
      console.log(detailsData);
      if (detailsData._links["city:urban_area"] == undefined) {
      } else if (detailsData._links["city:urban_area"].name == detailsData.name) {
        $cityIdNumberDiv.append(`---true---`);
        return detailsData;
      }
    }
  </script>
</html>
