<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing Search Function with Teleport</title>
  </head>
  <body>
    <div class="search-container">
      <form class="search-form" id="find-city">
        <input type="search" class="search" name="user-input" placeholder="Search" id="user-term" />
        <input type="button" value="search" onclick="fetchCitySearchResults()" />
      </form>
    </div>
    <div class="search-results"></div>
  </body>
  <script>
    const baseUrl = "https://api.teleport.org/api/";
    const citySearchString = "cities/?search=";
    let searchByNameUrl = `${baseUrl}${citySearchString}`;

    function makeUrl() {
      let searchString = document.querySelector("#user-term").value;
      return searchByNameUrl + searchString;
    }

    async function fetchCitySearchResults() {
      let url = makeUrl();
      const response = await fetch(url);
      const data = await response.json();
      const searchResults = await data._embedded["city:search-results"];
      console.log(searchResults);
      for (i = 0; i < searchResults.length; i++) {
        renderSearchResults(searchResults);
        console.log(searchResults[i].matching_full_name);
      }
    }

    function renderSearchResults(searchResults) {
      let cityName = searchResults[i].matching_full_name;
      let cityUrl = searchResults[i]._links["city:item"].href;
      let urlString = cityUrl.match(/geonameid:(\d+)/);
      let cityIdNumber = urlString ? urlString[1] : null;
      $searchResultsDiv = $(".search-results");
      $searchResultsDiv.append(`
      <div class="city-result-container" id="${cityIdNumber}">
        <a href="${cityUrl}">${cityName}</a>
        </div>`);
      $searchResultsDiv.append(`<br>--------<br>`);
      getSearchResultCityDetails(cityUrl);
    }

    async function getSearchResultCityDetails(cityUrl) {
      let url = cityUrl;
      let urlString = url.match(/geonameid:(\d+)/);
      let cityIdNumber = urlString ? urlString[1] : null;
      const response = await fetch(url);
      const detailsData = await response.json();
      $cityIdNumberDiv = $(`#${cityIdNumber}`);
      $cityIdNumberDiv.append(`population: ${detailsData.population}`);
      return detailsData;
    }
  </script>
</html>
